<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chuck Facts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<h1>Chuck Facts (Admin) : </h1>
<form action="#" th:action="@{/admin/delete}" method="post">
    <table>
        <thead>
        <tr>
            <th th:text="Id"></th>
            <th th:text="Username"></th>
            <th th:text="Score"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td>
                <button type="submit" name="userId" th:value="${user.id}" th:text="Delete"></button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<h1>New Fact : </h1>
<form action="#" th:action="@{/admin/create}" method="post">
    <table>
        <tbody>
        <tr>
            <td>
                <label>
                    <input name="name" type="text" size="50">
                </label>
            </td>
            <td>
                <label>
                    <input name="hash" type="text" size="50">
                </label>
            </td>
            <td>
                <button type="submit" th:text="Create"></button>
            </td>
        </tr>
        </tbody>
    </table>
</form>


</body>
</html>