<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<!--<form name='f' action="perform_login" method='POST'>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>User:</td>-->
<!--            <td><input type='text' name='username' value=''></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Password:</td>-->
<!--            <td><input type='password' name='password' /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input name="submit" type="submit" value="submit" /></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Chess Royale</h1>
            <p class="col-lg-10 fs-4">Chess Royale est un projet de partie d'échecs en Battle Royale.
                Plusieurs joueurs devant s'affronter, celui qui a le meilleur score à la fin du timer remporte la victoire.</p>
        </div>
        <div class="col-10 mx-auto col-lg-5">
            <form class="p-5 border rounded-3 bg-light" action="perform_login" method='POST'>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" value="">
                    <label for="floatingInput">Nom d'utilisateur</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" >
                    <label for="floatingPassword">Mot de passe</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" name="submit" type="submit" value="submit">Se connecter</button>
                <hr class="my-4">
                <small class="text-muted"><a href="#" class="link-primary">Je n'ai pas de compte.</a></small>
            </form>
        </div>
    </div>
</div>

</body>